[submodule "third-part/hev-task-system"]
	path = third-part/hev-task-system
	url = https://github.com/heiher/hev-task-system
[submodule "third-part/ini-parser"]
	path = third-part/ini-parser
	url = https://github.com/heiher/ini-parser
